<div class="app content-page">
    <div class="header">
        <div class="title">
            <a routerLink=".." type="button" class="icon-button">
                <mat-icon>close</mat-icon>
            </a>
            <span class="global-title">
                Collection
            </span>
        </div>
        <div class="buttons">
            <a type="button" routerLink="edit" class="orange-button button">
                Edit
            </a>
        </div>
    </div>
    <div class="content">
        <div *ngIf="!collection" class="global-loading height-124">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="info" *ngIf="collection">
            <div class="image">
                <img [src]="image" alt="">
            </div>
            <div class="name-description">
                <div class="name">
                    <span class="global-text text bold big black">
                        {{ collection.name }}
                    </span>
                </div>
                <div class="description">
                    <span class="global-text text">
                        {{ collection.description }}
                    </span>
                </div>
            </div>
        </div>
        <div class="items" *ngIf="items">
            <div class="title" *ngIf="items.length > 0">
                <span class="global-subtitle">
                    Items
                </span>
            </div>
            <div class="list" *ngIf="items.length > 0">
                <a routerLink="../../items/{{ item.id }}" *ngFor="let item of items" class="item">
                    <div class="image">
                        <img [src]="item.image" alt="">
                    </div>
                    <div class="name">
                        <span class="global-text bold black big">
                            {{ item.name }}
                        </span>
                    </div>
                </a>
            </div>
            <div *ngIf="items.length == 0" class="no-items">
                <span class="global-text bold black big">
                    Add items
                </span>
            </div>
        </div>
    </div>
</div>