.app {
    padding-top: 20vh;

    .box {
        border-top-left-radius: var(--default-border-radius);
        border-top-right-radius: var(--default-border-radius);
        width: 512px;
        height: 100%;
        background-color: var(--default-background);

        .header {
            padding: 8px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .buttons {
                display: flex;
                gap: 8px;
            }
        }

        .content {
            padding: 12px;
            
            .dish {
                .name-id {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 52px;
                }
            }

            .comments {
                border-top: 1px solid var(--default-border-color);

                .dish-comment, .order-comment {
                    margin: 8px 0;
                    display: flex;
                    align-items: center;
                    
                    .icon {
                        margin: 0 12px;
                        mat-icon {
                            color: var(--gray);
                            width: 18px;
                            height: 18px;
                            font-size: 18px;
                        }
                    }
                    .text {

                    }
                }
            }

            .info {
                .user {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    
                }

                .ordered, .taken {
                    height: 52px;
                    border-top: 1px solid var(--default-border-color);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            
        }
    }
}