<div class="app">
    <div class="info">
        <div class="name">
            <span class="global-text big black bold">
                {{ item.name }}
            </span>
        </div>
        <div class="price">
            <span class="global-text">
                ${{ item.price / 100 }}
            </span>
        </div>
        <div class="description">
            <span class="global-text small">
                {{ item.description }}
            </span>
        </div>
    </div>
    <div class="image">
        <img src="./../../../../../../../../../global-resources/images/no-image.svg" alt="">
    </div>
</div>