.app {
    width: 100%;
    padding-bottom: 24px;

    .header {
        padding: 12px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .items {
        padding-left: 12px;
        display: flex;
        gap: 12px;

        .item {
            width: 196px;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            transition: 0.25s all;
            border-radius: var(--customer-normal-radius);
            outline: none;
            background: var(--default-background);

            .image {
                img {
                    border-radius: var(--customer-normal-radius);
                    width: 100%;
                    height: auto;
                }
            }
            .name-status {
                .status {
                    margin-top: 6px;
                    span {
                        padding: 2px 6px;
                        border-radius: 4px;

                        &.orange {
                            background-color: var(--orange);
                            color: var(--black);
                        }
                        &.gray {
                            background-color: var(--gray);
                            color: var(--black);
                        }
                        &.purple {
                            background-color: var(--purple);
                            color: rgb(235, 235, 235);
                        }
                        &.green {
                            background-color: var(--green);
                            color: rgb(245, 245, 245);
                        }
                        &.red {
                            background-color: var(--red);
                            color: rgb(245, 245, 245);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .app {

        .header {
            padding: 8px 12px;
        }

        .items {
            padding: 0 12px;
        }
    }
}