<div class="app">
    <div class="header">
        <div class="title">
            <span class="global-subtitle">
                Tracking
            </span>
        </div>
        <div class="buttons">
            <a type="button" routerLink="order/tracking" class="button">
                <span class="text global-text black bigger">MORE</span> <mat-icon>arrow_forward</mat-icon>
            </a>
        </div>
    </div>
    <div class="items">
        <div *ngFor="let item of items" class="item">
            <div class="image">
                <img [ngSrc]="item.imageUrl" *ngIf="item.imageUrl" width="160" height="160">
            </div>
            <div class="name-status">
                <div class="name">
                    <span class="global-text bold black big">
                        {{ item.name }}
                    </span>
                </div>
                <div class="status">
                    <span *ngIf="item.status != 'ordered'" 
                          [class.red]="item.status == 'removed'"
                          [class.orange]="item.status == 'cooked'" 
                          [class.green]="item.status == 'served'" 
                          [class.red]="item.status == 'removed'" 
                          [class.purple]="item.status == 'cooking'">
                        {{ item.status }}
                    </span>
                    <span *ngIf="item.status == 'ordered'" class="gray">
                        waiting
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>