.app {
    .content {
        .location {
            display: flex;

            .name {
                padding-right: 32px;
            }
        }

        .settings {

            & > div {    
                margin-top: 12px;
                padding-top: 12px;
                border-top: 1px solid var(--default-border-color);
                
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    span.global-text {
                        margin: 1px 0;
                    }
                }

                .values {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    
                    & > div {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }
                }
            }

            .service-fee {
                .title {
                    display: flex;
                    align-items: center;
                }
                
                .value {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    button.icon-button:not(.orange) {
                        border-radius: var(--default-border-radius);
                        border: 2px solid var(--default-border-color);
                    }

                    .global-input {
                        width: 64px;
                    }
                }
            }
        }
    }
}