<div class="app content-page">
    <div class="header">
        <div class="title">
            <a routerLink=".." type="button" class="icon-button">
                <mat-icon>close</mat-icon>
            </a>
            <span class="global-title">
                Location
            </span>
        </div>
    </div>
    <div class="content">
        <div *ngIf="location" class="location">
            <div class="name">
                <span class="global-text big black bold">
                    {{ location.name }}
                </span>
            </div>
            <div class="address">
                <div class="state">
                    <span class="global-text big">
                        {{ location.state }}
                    </span>
                </div>
                <div class="city">
                    <span class="global-text big">
                        {{ location.city }}
                    </span>
                </div>
                <div class="line">
                    <span class="global-text big">
                        {{ location.line1 }}
                    </span>
                </div>
                <div class="line">
                    <span class="global-text big">
                        {{ location.line2 }}
                    </span>
                </div>
                <div class="postal-code">
                    <span class="global-text">
                        {{ location.postalCode }}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="location" class="settings">
            <div class="payments">
                <div class="title">
                    <span class="global-text big black bold">
                        Payment methods
                    </span>
                </div>
                <div class="values">
                    <div class="cash">
                        <span class="global-text black">
                            Cash
                        </span>
                        <div class="global-checkbox">
                            <input (change)="onMethodChange($event, 'cash')" [checked]="location.settings.methods.cash" type="checkbox" id="cash-checkbox" aria-hidden="true">
                            <label for="cash-checkbox"></label>
                        </div>
                    </div>
                    <div class="card">
                        <span class="global-text black">
                            Card
                        </span>
                        <div class="global-checkbox">
                            <input (change)="onMethodChange($event, 'card')" [checked]="location.settings.methods.card" type="checkbox" id="card-checkbox" aria-hidden="true">
                            <label for="card-checkbox"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dinein">
                <div class="title">
                    <span class="global-text big black bold">
                        Dine in
                    </span>
                </div>
                <div class="values">
                    <ion-toggle [checked]="location.settings.customers.allowDineIn" (ionChange)="onCustomersChange($event, 'allowDineIn')" mode="ios" color="orange"></ion-toggle>
                </div>
            </div>
            <div class="takeout">
                <div class="title">
                    <span class="global-text big black bold">
                        Take out
                    </span>
                </div>
                <div class="values">
                    <ion-toggle [checked]="location.settings.customers.allowTakeOut" (ionChange)="onCustomersChange($event, 'allowTakeOut')" mode="ios" color="orange"></ion-toggle>
                </div>
            </div>
            <div class="tips">
                <div class="title">
                    <span class="global-text big black bold">
                        Tips
                    </span>
                </div>
                <div class="values">
                    <ion-toggle [checked]="location.settings.tips" (ionChange)="onTipsChange($event)" mode="ios" color="orange"></ion-toggle>
                </div>
            </div>
            <div class="service-fee" *ngIf="!location.settings.serviceFee">
                <div class="title">
                    <span class="global-text big black bold">
                        Enable service fees
                    </span>
                </div>
                <div class="values">
                    <ion-toggle [checked]="false" (ionChange)="onServiceFeeEnabled($event)" mode="ios" color="orange"></ion-toggle>
                </div>
            </div>
            <div class="service-fee" *ngIf="location.settings.serviceFee">
                <div class="title">
                    <button class="icon-button" (click)="onServiceFeeDisabled()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <span class="global-text big black bold">
                        Service fees
                    </span>
                </div>
                <div class="value">
                    <button class="icon-button" (click)="onServiceFeeTypeUpdated()">
                        <mat-icon *ngIf="location.settings.serviceFee.type == 1">attach_money</mat-icon>
                        <mat-icon *ngIf="location.settings.serviceFee.type == 2">percent</mat-icon>
                    </button>
                    <input type="number" [(ngModel)]="location.settings.serviceFee.amount" class="global-input">
                    <button class="icon-button orange" (click)="onServiceFeeUpdated()">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        
        <div *ngIf="!location" class="global-loading height-124">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="footer">
        <button (click)="remove()" class="button red-button">
            Remove
        </button>
    </div>
</div>