<div class="app" [class.orange]="request.waiter">
    <div class="customer-location">
        <span class="global-text big black">
            {{ request.ui.typeTitle }}
            <span class="global-text small">
                {{ request.ui.idTitle }}
            </span>
        </span>
    </div>
    <div class="reason">
        {{ request.ui.reasonTitle }}
    </div>
    <div *ngIf="request.waiter" class="accepted">
        <div class="waiter">
            <img [src]="waiterAvatar" class="global-avatar small outline">
            <div class="name">
                <span class="global-text black bold">
                    {{ request.waiter.name }}
                </span>
                <span class="global-text">
                    accepted
                </span>
            </div>
        </div>
        <div class="time" *ngIf="request.acceptedTime">
            <span *ngIf="request.acceptedTime.hours" class="hours">
                {{ request.acceptedTime.hours }} hrs
            </span>
            <span class="hours">
                {{ request.acceptedTime.minutes }} min
            </span>
        </div>
    </div>
    <div class="money" *ngIf="request.self && request.ui.acceptedTitle">
        <span class="global-text">
            {{ request.ui.acceptedTitle }}
        </span>
    </div>
    <div class="bottom">
        <div class="time" *ngIf="request.requestedTime">
            <span *ngIf="request.requestedTime.hours" class="hours">
                {{ request.requestedTime.hours }} hrs
            </span>
            <span class="hours">
                {{ request.requestedTime.minutes }} min
            </span>
        </div>
        <div class="buttons">
            <button class="button green-button" (click)="resolve()" *ngIf="request.self">
                {{ request.ui.resolveButtonText }}
            </button>
            <button class="button red-button" (click)="cancel()" *ngIf="request.self">{{ request.ui.cancelButtonText }}</button>
            <button class="orange-button button" *ngIf="!request.waiter" (click)="accept()">{{ request.ui.acceptButtonText }}</button>
        </div>
    </div>
</div>