<div class="app">
    <div class="global-loading height-124" *ngIf="!dishes">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div *ngIf="dishes && dishes.length < 1" class="no-dishes">
        <span class="global-text bold black big">
            Add your first dish
        </span>
    </div>
    <div class="dishes" *ngIf="dishes && dishes.length > 0">
        <a *ngFor="let dish of dishes" routerLink="{{ dish.id }}" class="dish">
            <div class="image">
                <img [src]="dish.imageConverted" alt="">
            </div>
            <div class="info">
                <div class="name">
                    <span class="text global-text bigger black">
                        {{ dish.name }}
                    </span>
                </div>
                <div class="price">
                    <span class="text global-text normal">
                        ${{ dish.price / 100 }}
                    </span>
                </div>
            </div>
            <div (click)="$event.stopPropagation()" class="visibility">
                <ion-toggle color="orange" [checked]="dish.status == 'visible'" mode="ios" (ionChange)="onVisibilityChange($event, dish.id)"></ion-toggle>
            </div>
        </a>
    </div>
</div>