<div class="app">
    <div class="folder-header">
        <div class="title">
            <span class="global-subtitle">
                {{ folder.name }}
            </span>
        </div>
        <div class="buttons">
            <button (click)="left()" class="icon-button">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button (click)="right()" class="icon-button">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
    <div class="collections" #list>
        <a *ngFor="let collection of collections" [class.imageless]="!!collection.image" routerLink="../collection/{{ collection.id }}" class="collection">
            <div class="image" *ngIf="collection.image">
                <img [src]="collection.image" alt="">
            </div>
            <div class="name">
                <span class="global-text big black bold">
                    {{ collection.name }}
                </span>
            </div>
        </a>
    </div>
</div>