<div class="app">
    <div class="header">
        <div class="title">
            <span class="global-title">
                StravaMenu
            </span>
        </div>
        <div class="buttons">
            <a [href]="accountUrl" id="account-button" class="icon-button account">
                <mat-icon>account_circle</mat-icon>
            </a>
            <a [href]="staffUrl" id="staff-button" class="button orange-button">
                Staff
                <mat-icon>chevron_right</mat-icon>
            </a>
            <button (click)="openMenu()" class="icon-button" id="menu-button">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>

    <div class="navigation" (click)="openMenu()" [class.open]="menuOpen">
        <div class="restaurant">
            <span class="global-text text normal">
                {{ restaurant.name }}
            </span>
        </div>
        <div class="links">
            <a class="global-link" routerLink="home" [class.active]="currentPage == 'home'">
                <mat-icon>
                    home
                </mat-icon>
                Home
            </a>
            <a class="global-link" [class.disabled]="!pages.menu" routerLink="menu" [class.active]="currentPage == 'menu'">
                <mat-icon>
                    restaurant_menu
                </mat-icon>
                Menu
            </a>
            <a class="global-link" [class.disabled]="!pages.menu" routerLink="ingredients" [class.active]="currentPage == 'ingredients'">
                <mat-icon>
                    inventory
                </mat-icon>
                Ingredients
            </a>
            <a class="global-link" [class.disabled]="!pages.locations" routerLink="locations" [class.active]="currentPage == 'locations'">
                <mat-icon>
                    place
                </mat-icon>
                Locations
            </a>
            <a class="global-link" [class.disabled]="!pages.staff" routerLink="staff" [class.active]="currentPage == 'staff'">
                <mat-icon>
                    people
                </mat-icon>
                Staff
            </a>
            <a class="global-link" [class.disabled]="!pages.orders" routerLink="orders" [class.active]="currentPage == 'orders'">
                <mat-icon>
                    all_inbox
                </mat-icon>
                Orders
            </a>
            <a class="global-link" [class.disabled]="!pages.customers" routerLink="customers" [class.active]="currentPage == 'customers'">
                <mat-icon>
                    face
                </mat-icon>
                Customers
            </a>
            <a class="global-link" [class.disabled]="!pages.tables" routerLink="tables" [class.active]="currentPage == 'tables'">
                <mat-icon>
                    table_restaurant
                </mat-icon>
                Tables
            </a>
            <!-- <a class="global-link" [class.disabled]="!pages.analytics" [class.active]="currentPage == 'analytics'">
                <mat-icon>
                    insights
                </mat-icon>
                Analytics
            </a> -->
            <div class="border">

            </div>
            <a class="global-link settings" [class.disabled]="!pages.settings" routerLink="settings" [class.active]="currentPage == 'settings'">
                <mat-icon>
                    settings
                </mat-icon>
                Settings
            </a>

            <div class="bottom">
                <a class="global-link account" id="account-button-nav" [href]="accountUrl">
                    <mat-icon>
                        account_circle
                    </mat-icon>
                    Account
                </a>
                <a [href]="staffUrl" id="staff-button-nav" class="global-link staff">
                    <mat-icon>arrow_forward</mat-icon>
                    Staff
                </a>
            </div>
        </div>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>