.app {
    padding-top: 20vh;

    .box {
        border-top-left-radius: var(--default-border-radius);
        border-top-right-radius: var(--default-border-radius);
        width: 512px;
        height: 100%;
        background-color: var(--default-background);

        .header {
            padding: 8px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .buttons {
                display: flex;
                gap: 8px;
            }
        }

        .content {
            padding: 12px;
            
            .item {
                .name-id {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 52px;
                }
            }

            .modifiers {
                .list {
                    padding: 8px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    
                    .modifier {
                        .selected {
                            padding-left: 8px;
                        }
                    }
                }
            }

            .order {
                border-top: 1px solid var(--default-border-color);
                height: 52px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
        
                .type {
                    display: flex;
                    align-items: center;
                    gap: 6px;
        
                    .icon {
                        border-radius: 100%;
                        padding: 3px;
                        
                        
                        &.red {
                            background-color: var(--red-lighter);
        
                            mat-icon {
                                color: var(--red-dark);   
                            }
                        }
                        &.orange {
                            background-color: var(--orange-lighter);
        
                            mat-icon {
                                color: var(--orange-dark);
                            }
                        }
                        &.purple {
                            background-color: var(--purple-lighter);
        
                            mat-icon {
                                color: var(--purple-dark);
                            }
                        }
                    }
                }
            }

            .info {
                .user {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    
                }

                .ordered, .taken {
                    height: 52px;
                    border-top: 1px solid var(--default-border-color);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            
        }
    }
}