.app {
    width: 196px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: 0.25s all;
    border-radius: var(--customer-normal-radius);
    outline: none;

    &.small {
        width: 154px;
    }

    .image {
        img {
            width: 100%;
            height: auto;
            border-radius: var(--customer-normal-radius);
        }
    }

    .name-price {
        .name {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    // &:hover {
    //     box-shadow: var(--default-box-shadow);
    // }
}

@media screen and (max-width: 640px) {
    .app {
        width: 154px;

        &.small {
            width: 100px;
        }
    }

}