<div class="app modal-app padding-20">
    <div class="box">
        <div class="header">
            <div class="title">
                <div class="close-button">
                    <button (click)="close()" class="icon-button">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="text">
                    <span class="global-subtitle">
                        Select table
                    </span>
                </div>
            </div>
            <div class="buttons">
                <button *ngIf="!loading" (click)="save()" class="orange-button button">Save</button>
                <div *ngIf="loading" class="global-loading small">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="body">
            
            <div *ngIf="tables" class="tables">
                <button [disabled]="loading" (click)="selectTable(table)" [class.selected]="selected?.id == table.id" [class.taken]="table.taken" class="table" *ngFor="let table of tables">
                    <div *ngIf="table.taken" class="taken">
                        <span class="global-text big bold">
                            Taken
                        </span>
                    </div>
                    <div class="id">
                        <span class="global-text big black bold">
                            {{ table.id }}
                        </span>
                    </div>
                </button>
            </div>

            <div *ngIf="!tables" class="global-loading height-124">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>