.custom-tip-app {
    padding-top: 50vh;

    .box {
        max-width: 512px;
        width: 100vw;
        border-top-left-radius: var(--default-big-radius);
        border-top-right-radius: var(--default-big-radius);
        background-color: var(--default-background);
        height: 100%;

        .header {
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;

            .title {
                display: flex;
                align-items: center;
            }

            .buttons {
                display: flex;
                align-items: center;
            }
        }

        .body {
            padding: 24px;

            .input {
                width: 100%;
            }
            
            .buttons {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-top: 24px;


                .button {
                    height: 36px;
                    border-radius: 36px;
                    width: 196px;
                }
            }
        }
    }
}