.app {
    
    .header {
        padding: 24px;
    }
    
    .content {
        background-color: var(--default-on-background);
        min-height: 164px;
        width: 100%;
        overflow-x: auto;
        padding: 24px;

        .list {
            min-width: 100vw;
            display: flex;
            gap: 18px;
        }

        .no-dishes {
            display: flex;
            align-items: center;
        }
    }
}