.app {
    .the-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form {

        .number {
            margin-top: 24px;

            input {
                width: 324px;
            }
        }

        .b-i {
            padding-right: 24px;
            margin-top: 24px;
            display: grid;
            gap: 24px;
            grid-template-columns: 65% 35%;

            .branch {
                input {
                    width: 100%;
                }
            }
            .institution {
                input {
                    width: 100%;
                }
            }
        }

        .name {
            margin-top: 24px;

            input {
                width: 324px;    
            }
        }
    }
}