.app {
    height: 100%;
    overflow-y: auto;

    .box {
        background-color: var(--default-background);
        max-width: 900px;
        width: 100vw;
        border-top-left-radius: var(--default-border-radius);
        border-top-right-radius: var(--default-border-radius);
        min-height: 100%;


        .header {
            padding: 12px;
            display: flex;
            align-items: center;

            .title {
                display: flex;
                align-items: center;
            }
        }

        .body {
            padding: 12px;

            .items {
                gap: 12px;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}