.app {
    .no-collections {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .collections {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .app {
    
        .collections {
            display: flex;
            flex-direction: column;
            gap: 12px;
    
            .collection {
                .collection-header {
                    padding: 8px 12px;
                }
    
                .dishes {
                    padding: 0 12px;
                }
            }
        }
    }
}