.recommendations-app {
    
    background-color: var(--default-background);
    
    width: 100%;
    height: 100%;
    overflow-y: auto;
    
    .box-wrap {
        display: flex;
        justify-content: center;
        min-height: 100%;
        width: 100%;
    }

    .box {
        max-width: 504px;
        width: 100vw;
        min-height: 100%;
        padding-bottom: 100px;
        
        border-left: 2px solid var(--default-border-color);
        border-right: 2px solid var(--default-border-color);
        background-color: var(--default-background);
        
        .body {
            height: calc(100% - 52px);
        }
        
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 56px;
            padding: 0 12px;
            position: sticky;
            top: 0;
            left: 0;
            background-color: var(--customer-header-background);
            backdrop-filter: blur(4px);
    
            .restaurant {
                .global-title {
    
                }
            }
            .order {
                .icon-button {
                    border-radius: var(--default-small-radius);
                }
            }
        }
    
        .no-collections {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    
    }
}

@media screen and (max-width: 640px) {
    .app {
        .box {
            border: none;
        }
    }
}