.app {
    .content {
        .top {
            width: 100%;
            display: grid;
            grid-template-columns: 128px 1fr;
            
            
            .image {
                height: 128px;
                width: 128px;

                img {
                    border-radius: var(--default-border-radius);
                    height: 128px;
                    width: 128px;
                    border: 2px solid var(--orange);
                }
            }

            .info {
                padding-left: 8px;

                .name-price-visibility {
                    border-bottom: 1px solid var(--default-border-color);
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 52px;;

                    .name-price {
                        .price {
                            margin-bottom: 4px;
                            padding-bottom: 4px;
                        }
                    }


                    .visibility {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }


                .description {
                    margin-top: 8px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

                .tags {
                    margin-top: 4px;
                    display: flex;
                    gap: 8px;
                }

            }
        }

        .collections {
            margin-top: 24px;

            .list {
                .collection {
                    height: 64px;
                    width: 100%;
                    padding: 8px;
                    display: flex;

                    .image {
                        img {
                            height: 100%;
                            aspect-ratio: 1 / 1;
                            border-radius: var(--default-small-radius);
                        }
                    }
                    .name {
                        padding: 0 8px;
                    }
                }
            }
        }

        .sales {
            margin-top: 24px;
            display: grid;
            grid-template-columns: 70% 30%;

            .chart {

            }
        }

        .modifiers {
            margin-top: 24px;

            .header {
                padding: 8px 0;
                border-bottom: 1px solid var(--default-border-color);
            }

            .body {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 12px;
                padding-top: 12px;

                .modifier {
                    border-radius: var(--default-border-radius);
                    border: 1px solid var(--default-border-color);
                    padding: 12px;

                    .name-buttons {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .name {
                            .requirement {
                                color: var(--red);
                            }
                        }
                        .buttons {
                            display: flex;
                            align-items: center;
                        }
                    }

                    .options {
                        .option {
                            height: 28px;
                            border-bottom: 1px solid var(--light-border-color);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .app {
        .content {
            .sales {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                .chart {
                    width: 100%;
                }
                .info {
                    padding: 12px;
                    max-width: 324px;
                    width: 100vw;
                }
            }
        }
    }
}