<div class="app modal-app padding-20">
    <div class="box">
        <div class="header">
            <div class="title">
                <button (click)="close()" class="icon-button">
                    <mat-icon>close</mat-icon>
                </button>
                <span class="global-subtitle">
                    Edit collections
                </span>
            </div>
            <div class="buttons">
                <button (click)="save()" class="button orange-button">
                    Save
                </button>
            </div>
        </div>
        <div class="body">

            <div *ngIf="folders && folders.length > 0" class="list">
                <div *ngFor="let folder of folders; index as folderIndex" class="folder">
                    <button (click)="folder.open = !folder.open" class="header">
                        <div class="title">
                            <span class="global-subtitle">
                                {{ folder.name }}
                            </span>
                        </div>
                        <div class="button">
                            <button class="icon-button">
                                <mat-icon *ngIf="!folder.open">
                                    expand_more
                                </mat-icon>
                                <mat-icon *ngIf="folder.open">
                                    expand_less
                                </mat-icon>
                            </button>
                        </div>
                    </button>
                    <div class="collections" *ngIf="folder.open">
                        <div *ngFor="let collection of folder.collections; index as collectionIndex" class="collection">
                            <div class="info">
                                <div class="image">
                                    <img [src]="collection.image" alt="">
                                </div>
                                <div class="name">
                                    <span class="global-text big black bold">
                                        {{ collection.name }}
                                    </span>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="global-checkbox">
                                    <input id="checkbox-{{ folderIndex }}-{{ collectionIndex }}" (change)="onChange($event, collection)" [checked]="ids.includes(collection._id)" type="checkbox" aria-hidden="true" />
                                    <label for="checkbox-{{ folderIndex }}-{{ collectionIndex }}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="collections">
                <div *ngFor="let collection of collections; index as collectionIndex" class="collection">
                    <div class="info">
                        <div class="image">
                            <img [src]="collection.image" alt="">
                        </div>
                        <div class="name">
                            <span class="global-text big black bold">
                                {{ collection.name }}
                            </span>
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="global-checkbox">
                            <input id="checkbox-{{ collectionIndex }}" (change)="onChange($event, collection)" [checked]="ids.includes(collection._id)" type="checkbox" aria-hidden="true" />
                            <label for="checkbox-{{ collectionIndex }}"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="collections && collections.length == 0" class="no-collections">
                <span class="global-text big bold black">
                    No collections
                </span>
            </div>

            <div *ngIf="!collections || loading" [class.full-page]="loading" class="global-loading height-124">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>