<div class="app expand content-page">
    <div class="header">
        <div class="title">
            <span class="global-title">
                Menu
            </span>
        </div>
        <!-- <div class="buttons">
            <a routerLink="add" type="button" class="button orange-button">
                <mat-icon>add</mat-icon> Add dish
            </a>
        </div> -->
    </div>
    <div class="content">
        <div class="top">
            <div class="tabs">
                <a type="button" [class.active]="currentPage == 'dishes'" class="button" routerLink="dishes">
                    Dishes
                </a>
                <a type="button" [class.active]="currentPage == 'collections'" class="button" routerLink="collections">
                    Collections
                </a>
            </div>
            <div class="buttons">
                <a *ngIf="currentPage == 'dishes'" type="button" routerLink="dishes/add" class="button orange-button">
                    <mat-icon>add</mat-icon>
                    Add dish
                </a>
                <a *ngIf="currentPage == 'collections'" type="button" class="button orange-button" routerLink="folders/add">
                    <mat-icon>add</mat-icon>
                    Add folder
                </a>
                <a *ngIf="currentPage == 'collections'" type="button" class="button orange-button" routerLink="collections/add">
                    <mat-icon>add</mat-icon>
                    Add collection
                </a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>