<div class="app">
    <div class="box">
        <div class="header">
            <span class="global-title">
                Your online menu
            </span>
        </div>
        <div class="buttons">
            <a type="button" [href]="loginLink" class="button">
                Login
            </a>
            <a type="button" [href]="registerLink" class="button orange-button">
                Register
                <ion-icon name="chevron-forward"></ion-icon>
            </a>
        </div>
    </div>

    <div class="box">
        <div class="header">
            <span class="global-title">
                Why?
            </span>
        </div>
        <div class="block">
            <div class="icon">
                <mat-icon>
                    menu_book
                </mat-icon>
            </div>
            <div class="info">
                <div class="subtitle">
                    <span class="global-text big black bold">
                        Change
                    </span>
                </div>
                <div class="text">
                    <span class="global-text">
                        Change your menu in seconds. If you can adapt to changes quicker you have more advantage on your competitors.
                    </span>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="icon">
                <mat-icon>
                    ramen_dining
                </mat-icon>
            </div>
            <div class="info">
                <div class="subtitle">
                    <span class="global-text big black bold">
                        Confussion
                    </span>
                </div>
                <div class="text">
                    <span class="global-text">
                        With online menu your customers are getting more information about the dishes: ingredients, time of cooking, nutritions...
                    </span>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="icon">
                <mat-icon>
                    schedule
                </mat-icon>
            </div>
            <div class="info">
                <div class="subtitle">
                    <span class="global-text big black bold">
                        Time
                    </span>
                </div>
                <div class="text">
                    <span class="global-text">
                        Orders are taken as soon as customers are ready.
                    </span>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="icon">
                <mat-icon>
                    insights
                </mat-icon>
            </div>
            <div class="info">
                <div class="subtitle">
                    <span class="global-text big black bold">
                        Analytics
                    </span>
                </div>
                <div class="text">
                    <span class="global-text">
                        Get reports, statistics and feedbacks from your customers, and improve.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="box contact">
        <div class="header">
            <span class="global-title">
                Contact us
            </span>
        </div>
        <div class="block">
            <div class="icon">
                <mat-icon>
                    email
                </mat-icon>
            </div>
            <div class="info">
                <span class="global-text big black bold">
                    bazhantt@gmail.com
                </span>
            </div>
        </div>
        <div class="block">
            <div class="icon">
                <mat-icon>
                    phone
                </mat-icon>
            </div>
            <div class="info">
                <span class="global-text big black bold">
                    +1 (289) 968-7940
                </span>
            </div>
        </div>
    </div>
</div>