.app {
    overflow-y: auto;
    height: 100%;

    i.circle {
        color: var(--orange);

        &.white {
            color: var(--white);
        }
    }

    .img-fluid {
        border-radius: 26px;
        rotate: 2deg;

        &.other {
            rotate: 0deg;
        }
        &.small-border {
            border-radius: 16px;
        }
    }

    #computer-phone {
        position: relative;
        height: 364px;

        .computer {
            position: absolute;
            left: 24px;
            top: 0;
        }

        .phone {
            position: absolute;
            width: 126px;
            outline: 3px solid var(--black);
            left: 0;
            top: 82px;
        }
    }

    .nav-link {
        display: flex;
        align-items: center;
        gap: 6px;

        &.active, &:hover {
            mat-icon {
                color: var(--orange);
            }
        }

        mat-icon {
            color: #86929b;
            transition: all 0.2s ease;
        }
    }

    .card-image {
        display: flex;
        align-items: center;
        justify-content: center;

        .card-icon {
            color: #C2933C;
            width: 52px;
            height: 52px;
            font-size: 52px;
        }
    }

    
    #features .image-container {
        .img-fluid {
            border: 2px solid var(--orange);
            border-radius: 18px;
            rotate: 0deg;
        }
    }

}


@media screen and (max-width: 578px) {
    #computer-phone {
        height: auto !important;
        
        .phone {
            display: none;
        }

        .computer {
            position: static !important;
        }
    }
}