<div class="app">
    <div class="box">
        <div class="header">
            <span class="global-title">
                Create your online menu
            </span>
        </div>
        <div class="buttons">
            <a type="button" [href]="loginLink" class="button">
                Login
            </a>
            <a type="button" [href]="registerLink" class="button orange-button">
                Register
                <ion-icon name="chevron-forward"></ion-icon>
            </a>
        </div>
    </div>
</div>