<div class="app modal-app">
    <div class="box">
        <div class="header">
            <div class="title">
                <button class="icon-button" (click)="close()">
                    <mat-icon>
                        close
                    </mat-icon>
                </button>
            </div>
            <div class="buttons">
                <button [disabled]="disableButtons" *ngIf="sessionItem.status == 'cooking' && userId == sessionItem.people?.cook?._id" (click)="quit()" class="button">
                    Quit
                </button>
                <button [disabled]="disableButtons" *ngIf="sessionItem.status == 'cooking' && userId == sessionItem.people?.cook?._id" (click)="done()" class="orange-button button">
                    Done
                </button>
                <button [disabled]="disableButtons" *ngIf="sessionItem.status == 'ordered'" (click)="take()" class="orange-button button">
                    Take
                </button>
                <button *ngIf="sessionItem.status == 'cooking' && userId != sessionItem.people?.cook?._id" disabled class="button orange-button">
                    Taken
                </button>
                <button [disabled]="disableButtons" *ngIf="sessionItem.status == 'cooking:disposing' && userId == sessionItem.people?.cook?._id" (click)="dispose()" class="button red-button">
                    Disposed
                </button>
            </div>
        </div>
        <div class="content">
            <div class="item">
                <div class="name-id">
                    <div class="name">
                        <span class="global-text bigger black bold">
                            {{ sessionItem.item.name }}
                        </span>
                    </div>
                    <div class="id">
                        <span class="global-text big bold">
                            #{{ sessionItem.id }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="modifiers">
                <div *ngIf="modifiers && modifiers.length > 0" class="list">
                    <div *ngFor="let modifier of modifiers" class="modifier">
                        <div class="name">
                            <span class="global-text normal">
                                {{ modifier.name }}:
                            </span>
                        </div>
                        <div class="selected">
                            <div *ngFor="let selected of modifier.selected" class="option">
                                <span class="global-text" >
                                    {{ selected }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!modifiers" class="global-loading height-124 small">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="comments" *ngIf="sessionItem.comment || sessionItem.orderComment">
                <div class="item-comment" *ngIf="sessionItem.comment">
                    <div class="icon">
                        <mat-icon>
                            comment
                        </mat-icon>
                    </div>
                    <div class="text">
                        <span class="global-text">
                            Item comment: {{ sessionItem.comment }}
                        </span>
                    </div>
                </div>
                <div class="order-comment" *ngIf="sessionItem.orderComment">
                    <div class="icon">
                        <mat-icon>
                            comment
                        </mat-icon>
                    </div>
                    <div class="text">
                        <span class="global-text">
                            Order comment: {{ sessionItem.orderComment }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="order">
                <div class="type">
                    <div class="icon" [class.orange]="sessionItem.order.type == 'dinein'" [class.red]="sessionItem.order.type == 'delivery'" [class.purple]="sessionItem.order.type == 'takeout'">
                        <mat-icon *ngIf="sessionItem.order.type == 'delivery'">delivery_dining</mat-icon>
                        <mat-icon *ngIf="sessionItem.order.type == 'takeout'">takeout_dining</mat-icon>
                        <mat-icon *ngIf="sessionItem.order.type == 'dinein'">restaurant</mat-icon>
                    </div>
                    <span *ngIf="sessionItem.order.type == 'delivery'" class="global-text normal bold">
                        Delivery
                    </span>
                    <span *ngIf="sessionItem.order.type == 'takeout'" class="global-text normal bold">
                        Take out
                    </span>
                    <span *ngIf="sessionItem.order.type == 'dinein'" class="global-text normal bold">
                        Dine in
                    </span>
                </div>
                <div class="id">
                    <span class="global-text">
                        #{{ sessionItem.order.id }}
                    </span>
                </div>
            </div>
            <div class="be-ready" *ngIf="sessionItem.time.beReady">
                <div class="customer">
                    <span class="global-text normal bold">
                        Be ready by
                    </span>
                </div>
                <div class="time">
                    <span class="global-text normal" [class.red]="sessionItem.danger" [class.orange]="sessionItem.warning">
                        {{ beReadyTime | date:'shortTime' }}
                    </span>
                </div>
            </div>
            <div class="average" *ngIf="sessionItem.time.averageCooking">
                <div class="title">
                    <span class="global-text normal bold">
                        Average cooking time
                    </span>
                </div>
                <div class="time">
                    <span class="global-text normal">
                        {{ cookingTime | date:'mm:ss' }} s. 
                    </span>
                </div>
            </div>
            <div class="info">
                <!-- <div *ngIf="sessionItem.time.ordered as ordered" class="ordered">
                    <div *ngIf="sessionItem.people?.customer" class="customer user">
                        <img [src]="customerAvatar" class="global-avatar small outline" alt="">
                        <span class="global-text big black bold">
                            {{ sessionItem.people?.customer?.name }}
                        </span>
                    </div>
                    <div class="time">
                        <span class="global-text black">
                            Ordered 
                            <span *ngIf="ordered.hours" class="hours global-text bold black">
                                {{ ordered.hours }} hrs
                            </span>
                            <span class="minutes global-text bold black">
                                {{ ordered.minutes }} min
                            </span>
                            ago
                        </span>
                    </div>
                </div> -->
                <div *ngIf="sessionItem.time.taken as taken" class="taken">
                    <div *ngIf="sessionItem.people?.cook" class="customer user">
                        <img [src]="cookAvatar" class="global-avatar small outline" alt="">
                        <span class="global-text normal bold">
                            {{ sessionItem.people?.cook?.name }}
                        </span>
                    </div>
                    <div class="time">
                        <span class="global-text black">
                            Cooking the item for 
                            <span *ngIf="taken.hours" class="hours global-text bold black">
                                {{ taken.hours }} hrs
                            </span>
                            <span class="minutes global-text bold black">
                                {{ taken.minutes }} min
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="remove">
                <button (click)="remove()" class="button small">
                    <mat-icon>delete</mat-icon>
                    Remove
                </button>
            </div>
        </div>
    </div>
</div>


<ng-container #modalContainer></ng-container>