<button class="app">
    <div class="image">
        <img [src]="image" alt="">
    </div>
    <div class="name-id">
        <div class="name">
            <span class="global-text big black bold">
                {{ sessionDish.dish.name }}
            </span>
        </div>
        <div class="id">
            <span class="global-text">
                #{{ sessionDish.id }}
            </span>
        </div>
    </div>
    <div class="customer-delay">
        <div class="customer">
            <span class="global-text">
                For {{ sessionDish.people.customer.name }}
            </span>
        </div>
        <div class="delay">
            <span class="global-text">
                <span class="hours" *ngIf="sessionDish.time.ordered.hours">
                    {{ sessionDish.time.ordered.hours }} hrs
                </span>
                <span class="minutes">
                    {{ sessionDish.time.ordered.minutes }} min
                </span>
            </span>
        </div>
    </div>
    <div class="cooking-delay" *ngIf="sessionDish.time.cooked">
        <div class="customer">
            <span class="global-text">
                Cooked
            </span>
        </div>
        <div class="delay">
            <span class="global-text">
                <span class="hours" *ngIf="sessionDish.time.cooked.hours">
                    {{ sessionDish.time.cooked.hours }} hrs
                </span>
                <span class="minutes">
                    {{ sessionDish.time.cooked.minutes }} min
                </span>
                ago
            </span>
        </div>
    </div>
</button>