<a type="button" [routerLink]="url" [queryParams]="{ c: collection }" class="app" [class.small]="small">
    <div class="image">
        <img [ngSrc]="imageUrl" width="196" (load)="imageLoaded()" height="196">
    </div>
    <div class="name-price">
        <div class="name">
            <span class="global-text bold black" [class.big]="!small">
                {{ dish.info.name }}
            </span>
        </div>
        <div class="price">
            <span class="global-text bold small">
                ${{ dish.info.price / 100 }}
            </span>
        </div>
    </div>
</a>