<button class="app" [class.orange]="sessionItem.status == 'cooking'">
    <div class="image">
        <img [src]="image" alt="">
    </div>
    <div class="name-id">
        <div class="name">
            <span class="global-text big black bold">
                {{ sessionItem.item.name }}
            </span>
        </div>
        <div class="id">
            <span class="global-text">
                #{{ sessionItem.id }}
            </span>
        </div>
    </div>
    <div class="customer-delay">
        <div class="customer">
            <span class="global-text">
                For {{ sessionItem.people.customer.name }}
            </span>
        </div>
        <div class="delay">
            <span class="global-text">
                <span class="hours" *ngIf="sessionItem.time.ordered.hours">
                    {{ sessionItem.time.ordered.hours }} hrs
                </span>
                <span class="minutes">
                    {{ sessionItem.time.ordered.minutes }} min
                </span>
            </span>
        </div>
    </div>
    <div class="cooking-delay" *ngIf="sessionItem.time.taken">
        <div class="customer">
            <span class="global-text">
                Taken by {{ sessionItem.people.cook?.name }}
            </span>
        </div>
        <div class="delay">
            <span class="global-text">
                <span class="hours" *ngIf="sessionItem.time.taken.hours">
                    {{ sessionItem.time.taken.hours }} hrs
                </span>
                <span class="minutes">
                    {{ sessionItem.time.taken.minutes }} min
                </span>
            </span>
        </div>
    </div>
</button>