<button class="app {{ sessionItem.status }}" [class.orange]="sessionItem.status == 'cooking'" [class.red]="sessionItem.status == 'cooking:disposing'">
    <div class="image">
        <img [src]="image" alt="">
    </div>
    <div class="name">
        <span class="global-text big black bold">
            {{ sessionItem.item.name }}
        </span>
    </div>
    <div class="info">
        <div class="type">
            <div class="icon" [class.orange]="sessionItem.order.type == 'dinein'" [class.red]="sessionItem.order.type == 'delivery'" [class.purple]="sessionItem.order.type == 'takeout'">
                <mat-icon *ngIf="sessionItem.order.type == 'delivery'">delivery_dining</mat-icon>
                <mat-icon *ngIf="sessionItem.order.type == 'takeout'">takeout_dining</mat-icon>
                <mat-icon *ngIf="sessionItem.order.type == 'dinein'">restaurant</mat-icon>
            </div>
            <span *ngIf="sessionItem.order.type == 'delivery'" class="global-text normal">
                Delivery
            </span>
            <span *ngIf="sessionItem.order.type == 'takeout'" class="global-text normal">
                Take out
            </span>
            <span *ngIf="sessionItem.order.type == 'dinein'" class="global-text normal">
                Dine in
            </span>
        </div>
        <div class="id">
            <span class="global-text">
                #{{ sessionItem.id }}
            </span>
        </div>
    </div>
    <div class="customer-delay" *ngIf="sessionItem.people?.customer">
        <div class="customer">
            <span class="global-text">
                For {{ sessionItem.people?.customer?.name }}
            </span>
        </div>
        <div class="delay">
            <span class="global-text">
                <span class="hours" *ngIf="sessionItem.time.ordered.hours">
                    {{ sessionItem.time.ordered.hours }} hrs
                </span>
                <span class="minutes">
                    {{ sessionItem.time.ordered.minutes }} min
                </span>
            </span>
        </div>
    </div>
    <div class="be-ready" *ngIf="sessionItem.time.beReady">
        <div class="customer">
            <span class="global-text">
                Be ready by
            </span>
        </div>
        <div class="time">
            <span class="global-text" [class.red]="sessionItem.danger" [class.orange]="sessionItem.warning">
                {{ beReadyTime | date:'shortTime' }}
            </span>
        </div>
    </div>
    <div class="average" *ngIf="sessionItem.time.averageCooking">
        <div class="title">
            <span class="global-text">
                Average cooking time
            </span>
        </div>
        <div class="time">
            <span class="global-text">
                {{ cookingTime | date:'mm:ss' }} s. 
            </span>
        </div>
    </div>
    <div class="ordered" *ngIf="sessionItem.time.ordered">
        <div class="title">
            <span class="global-text">
                Ordered
            </span>
        </div>
        <div class="time">
            <span *ngIf="sessionItem.time.ordered.hours" class="hours global-text">
                {{ sessionItem.time.ordered.hours }}h
            </span>
            <span class="global-text minutes">
                {{ sessionItem.time.ordered.minutes }}m ago
            </span>
        </div>
    </div>
    <div class="cooking-delay" *ngIf="sessionItem.time.taken">
        <div class="customer" *ngIf="sessionItem.people?.cook">
            <span class="global-text">
                Taken by {{ sessionItem.people?.cook?.name }}
            </span>
        </div>
        <div class="delay">
            <span class="global-text">
                <span class="hours" *ngIf="sessionItem.time.taken.hours">
                    {{ sessionItem.time.taken.hours }} hrs
                </span>
                <span class="minutes">
                    {{ sessionItem.time.taken.minutes }} min
                </span>
            </span>
        </div>
    </div>
</button>