<div class="app">
    <div class="header">
        <div class="title">
            <span class="global-title">
                {{ restaurant.name }}
            </span>
        </div>
        <div class="buttons">
            <!-- <button (click)="checkIn()" class="orange-button button">
                Check in
            </button>
            FINISH IMPLEMENTING -->
            <a class="button orange-button" [href]="redirectUrl" type="button">
                {{ redirectText }}
                <mat-icon>
                    chevron_right
                </mat-icon>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="requests" *ngIf="restaurant.pages.requests">
            <app-waiter-requests></app-waiter-requests>
        </div>
        <div class="items-cook" *ngIf="restaurant.pages.cook">
            <div class="block-header">
                <div class="title">
                    <span class="global-subtitle">
                        Items to cook
                    </span>
                </div>
                <div class="buttons">
                    <button (click)="cook.switchType()" class="icon-button">
                        <mat-icon *ngIf="cook.type == 'singles'">folder_copy</mat-icon>
                        <mat-icon *ngIf="cook.type == 'folders'">content_copy</mat-icon>
                    </button>
                </div>
            </div>
            <div class="body">
                <ng-container #cookBodyContainer></ng-container>
            </div>
        </div>
        <div class="items-serve" *ngIf="restaurant.pages.waiter">
            <div class="block-header">
                <div class="title">
                    <span class="global-subtitle">
                        Items to serve
                    </span>
                </div>
                <div class="buttons">
                    <button (click)="waiter.switchType()" class="icon-button">
                        <mat-icon *ngIf="waiter.type == 'singles'">folder_copy</mat-icon>
                        <mat-icon *ngIf="waiter.type == 'folders'">content_copy</mat-icon>
                    </button>
                </div>
            </div>
            <div class="body">
                <ng-container #waiterBodyContainer></ng-container>
            </div>
        </div>
        <div class="manual-order">
            <button (click)="addOrder()" class="button orange-button">
                <mat-icon>add</mat-icon>
                <span class="global-text big black bold">
                    ADD ORDER
                </span>
            </button>
        </div>
    </div>
</div>

<ng-container #modalContainer></ng-container>