<div class="app">
    <div class="header">
        <div class="title">
            <span class="global-title">
                {{ restaurant.name }}
            </span>
        </div>
        <div class="buttons">
            <a class="button orange-button" [href]="dashboardUrl" type="button">
                Dashboard
                <mat-icon>
                    chevron_right
                </mat-icon>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="requests" *ngIf="restaurant.pages.requests">
            <app-waiter-requests></app-waiter-requests>
        </div>
        <div class="dishes-cook" *ngIf="restaurant.pages.cook">
            <app-dishes-cook></app-dishes-cook>
        </div>
        <div class="dishes-serve" *ngIf="restaurant.pages.waiter">
            <app-dishes-waiter></app-dishes-waiter>
        </div>
    </div>
</div>