.app {
    .content {
        .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 8px;

            .location {
                border: 2px solid var(--default-border-color);
                border-radius: var(--default-border-radius);
                text-decoration: none;
                padding: 12px;
            }
        }
    }
}