<div class="app">
    <div class="header">
        <a type="button" routerLink=".."  class="icon-button">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </div>
    <div class="dish">
        <div class="info">
            <div class="image">
                <img [src]="imageUrl" alt="">
            </div>
            <div class="name-description-buy" *ngIf="dish">
                <div class="name">
                    <span class="name global-text big black">
                        {{ dish.info.name }}
                    </span>
                    <span class="price global-text">
                        ${{ dish.info.price / 100 }}
                    </span>
                </div>
                <div class="description">
                    <span class="global-text">
                        {{ dish.info.description }}
                    </span>
                </div>
                <div class="buy">
                    <div class="count" *ngIf="amount">
                        <span class="global-text">
                            {{ amount }} in cart
                        </span>
                    </div>
                    <div class="buttons">
                        <span id="add-span" title="Add to cart">
                            <button (click)="add()" id="add" class="orange-button button">
                                <mat-icon>add</mat-icon>
                                <span class="global-text big black">
                                    Add to card
                                </span>
                            </button>
                        </span>
                        <span id="comment-span" title="Add with comment">
                            <button (click)="comment()" id="comment" class="purple-button square icon-button">
                                <mat-icon>textsms</mat-icon>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="!dish" class="name-description-buy">
                <div class="global-loading height-124">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="collection && collection.dishes.length > 0" class="recommendations">
        <app-collection [collection]="collection" [goDown]="true" [small]="true"></app-collection>
    </div>
</div>

<ng-container #modalContainer></ng-container>