.app {
    .dob-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .input {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        max-width: 324px;

        .global-input {
            width: 100%;
        }
    }
}