.app {
    .content {
        .list {
            .order {
                margin-bottom: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid var(--default-border-color);
                
                .order-info {
                    text-decoration: none;
                    padding: 6px 0;
                    padding-right: 8px;
                    display: grid;
                    grid-template-columns: 60% 20% 20%;
                    border-radius: var(--default-border-radius);

                    &:hover {
                        background-color: var(--default-on-background);
                    }

                    .customer {
                        display: flex;
                        align-items: center;

                        .avatar {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 42px;
                            margin: 0 8px;
                        }
    
                    }

                    .info {
                        display: flex;
                        align-items: center;
                    }

                    .status {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .dishes {
                    padding-top: 12px;

                    .dish {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .dish-info {
                            display: flex;
                            
                            .image {
                                width: 42px;
                                margin: 0 12px;

                                img {
                                    border-radius: var(--default-border-radius);
                                    width: 42px;
                                    height: 42px;
                                }
                            }
                        }


                        .status {
                            padding-right: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

                .more {
                    margin-top: 12px;
                    border-radius: var(--default-border-radius);
                    height: 32px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: var(--text-color-gray);
                    font-family: var(--button-font);
                    font-size: 13px;

                    mat-icon {
                        color: var(--text-color-gray);
                        width: 22px;
                        height: 22px;
                        font-size: 22px;
                    }

                    &:hover {
                        background-color: var(--default-on-background);
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 736px) {

    .app {
        .content {
            .list {
                .order {
                    .order-info {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                        .info {
                            display: none;
                        }
                    }
                    .dishes {
                        .dish {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .staff {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

}