<div class="app content-page">
    <div class="header">
        <div class="title">
            <a routerLink=".." class="icon-button" type="button">
                <mat-icon>close</mat-icon>
            </a>
        </div>
        <div class="buttons">
            <a routerLink="edit" type="button" class="button orange-button">Edit</a>
        </div>
    </div>
    <div class="content">
        <div class="top" *ngIf="dish">
            <div class="image">
                <img [src]="image || './../../../../../../../../global-resources/images/no-image.svg'" alt="">    
            </div>
            <div class="info">
                <div class="name-price-visibility">
                    <div class="name-price">
                        <div class="name">
                            <span class="global-text bigger black bold">
                                {{ dish.name }}
                            </span>
                        </div>
                        <div class="price">
                            <span class="global-text normal">
                                ${{ dish.price / 100 }}
                            </span>
                        </div>
                    </div>
                    <div class="visibility">
                        <ion-toggle mode="ios" color="orange" [checked]="dish.status == 'visible'" (ionChange)="onVisibilityChange($event)"></ion-toggle>
                    </div>
                </div>
                <div class="tags" *ngIf="dish.tags && dish.tags.length > 0">
                    <span *ngFor="let tag of dish.tags" class="global-badge orange">
                        {{ tag.title }}
                    </span>
                </div>
                <div class="description">
                    <span class="global-text small">
                        {{ dish.description }}
                    </span>
                </div>
            </div>
        </div>



        <div class="collections" *ngIf="collections">
            <div class="header">
                <div class="title">
                    <span class="global-subtitle">
                        Collections
                    </span>
                </div>
                <div class="buttons">
                    <button (click)="editCollections()" class="icon-button orange-button square">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
            <div *ngIf="collections.length > 0" class="list">
                <div *ngFor="let collection of collections" class="collection">
                    <div class="image">
                        <img [src]="collection.image" alt="">
                    </div>
                    <div class="name">
                        <span class="global-text bold big black">
                            {{ collection.name }}
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="collections.length == 0" class="no-collections">
                <span class="global-text big black bold">
                    No collections
                </span>
            </div>
        </div>


        <div class="sales" *ngIf="dish">
            <div class="chart">
                <canvas baseChart class="chart"
                        [data]="lineChartData"
                        [options]="lineChartOptions"
                        [type]="lineChartType"></canvas>
            </div>
            <div class="info">
                <div class="header">
                    <div class="title">
                        <span class="global-subtitle">
                            Sales
                        </span>
                    </div>
                    <div class="badge">
                        <span class="global-badge" [class.green]="averageGrowth > 0" [class.red]="averageGrowth < 0">
                            <span class="plus" *ngIf="averageGrowth > 0">+</span> {{ averageGrowth }} daily
                        </span>
                    </div>
                </div>
                <div class="date">
                    <span class="global-text">
                        Last 7 days
                    </span>
                </div>
            </div>
        </div>





        <div class="global-loading height-124" *ngIf="!dish">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <span class="global-loading full-page" *ngIf="loading">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </span>
    </div>
    
</div>


<ng-container #modalContainer></ng-container>