.app {
    .requirements {
        .body {
            border-bottom: 1px solid var(--default-border-color);

            &:last-of-type {
                border: none;
            }
        }
    }
    .locations-methods {
        .body {
            .location {
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .values {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    & > div {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }
                }
            }
        }
    }
    .bank-account {
        .body {
            .currency {
                .upper {
                    text-transform: uppercase;
                }
            }
            .status {
                width: auto;
                margin-top: 12px;
                .global-badge {
                    width: auto;
                    width: 48px;
                }
            }
        }
    }
}