<div class="app settings-app">
    <div *ngIf="loaded && (!address || !bankAccount || isDobRequired || isNameRequired)" class="requirements block">
        <div class="header">
            <div class="title">
                <span class="global-subtitle">
                    Complete verification
                </span>
            </div>
        </div>
        <div class="body" *ngIf="!address">
            <app-address [locations]="savedLocations" (leave)="onAddressEdit($event)"></app-address>
        </div>
        <div class="body" *ngIf="!bankAccount">
            <app-bank-account (leave)="onBankAccountEdit($event)"></app-bank-account>
        </div>
        <div class="body" *ngIf="isNameRequired">
            <app-name (leave)="onNameEdit($event)"></app-name>
        </div>
        <div class="body" *ngIf="isDobRequired">
            <app-dob (leave)="onDobEdit($event)"></app-dob>
        </div>
    </div>
    <div class="locations-methods block" *ngIf="loaded && bankAccount && locationsPayments && locationsPayments.length > 0">
        <div class="header">
            <div class="title">
                <span class="global-subtitle">
                    Locations
                </span>
            </div>
        </div>
        <div class="body">
            <div *ngFor="let location of locationsPayments" class="location">
                <div class="title">
                    <a class="name">
                        <a routerLink="../../locations/{{ location.id }}" class="global-link">
                            <span class="global-text big black bold">
                                {{ location.name }}
                            </span>
                        </a>
                    </a>
                </div>
                <div class="values">
                    <div class="cash">
                        <span class="global-text black">
                            Cash
                        </span>
                        <div class="global-checkbox">
                            <input (change)="onLocationMethodChange(location.id, $event, 'cash')" [checked]="location.cash" type="checkbox" id="cash-checkbox" aria-hidden="true">
                            <label for="cash-checkbox"></label>
                        </div>
                    </div>
                    <div class="card">
                        <span class="global-text black">
                            Card
                        </span>
                        <div class="global-checkbox">
                            <input (change)="onLocationMethodChange(location.id, $event, 'card')" [checked]="location.card" type="checkbox" id="card-checkbox" aria-hidden="true">
                            <label for="card-checkbox"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loaded && bankAccount" class="bank-account block">
        <div class="header">
            <div class="title">
                <span class="global-subtitle">
                    Bank account
                </span>
            </div>
        </div>
        <div class="body">
            <div class="info">
                <span class="global-text">
                    Bank account for payouts end with
                </span>
                <span class="global-text black bold">{{ bankAccount.last4 }}</span>
            </div>
            <div class="currency">
                <span class="global-text">
                    All the money converted to
                </span>
                <span class="global-text bold black upper">{{ bankAccount.currency }}</span>
            </div>
            <div class="status">
                <span class="global-badge" [class.purple]="bankAccount.status == 'new'">
                    {{ bankAccount.status }}
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="!loaded" class="global-loading height-124">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>