.app {
    .header {
        padding: 24px;
    }

    .content {
        background-color: var(--default-on-background);
        min-height: 164px;
        padding: 24px;

        .list {
            display: flex;
            gap: 18px;
            margin: 12px 0;
            border-radius: var(--default-border-radius);
        }
    
        .no-dishes {
            display: flex;
            align-items: center;
        }
    }
}