<div class="app">

    <div class="sub-header">
        <div class="sub-title">
            <span class="global-subtitle">
                Create your account
            </span>
        </div>
    </div>

    <div class="options">
        <a routerLink="email" type="button" class="button white-button">
            <mat-icon fontSet="material-icons-outlined">email</mat-icon>
            <span class="text">Continue with Email</span>
        </a>
        <a href="/auth/google" type="button" class="button white-button">
            <img src="./../../resources/google-icon.png" alt="">
            <span class="text">Continue with Google</span>
        </a>
    </div>
    <div class="login">
        <span class="global-text">
            Already have an account? <a type="button" class="global-link" routerLink="/login">Log in</a>
        </span>
    </div>
</div>