<div class="app modal-app">
    <div class="box">
        <div class="header">
            <span class="global-title small">
                Confirm
            </span>
        </div>

        <div class="content">
            <div class="name" *ngIf="!loading">
                <div class="label">
                    <span class="global-text">
                        Name for the location
                    </span>
                </div>
                <input type="text" class="global-input" [(ngModel)]="name">
            </div>
            <div class="place" *ngIf="!loading">
                <div class="one">
                    <span class="global-text">
                        State:
                    </span>
                    <span class="global-text black">
                        {{ state }}
                    </span>
                </div>
                <div class="one">
                    <span class="global-text">
                        City:
                    </span>
                    <span class="global-text black">
                        {{ city }}
                    </span>
                </div>
                <div class="one">
                    <span class="global-text">
                        Address line 1:
                    </span>
                    <span class="global-text black">
                        {{ addressLine1 }}
                    </span>
                </div>
                <div class="one" *ngIf="addressLine2">
                    <span class="global-text">
                        Address line 2:
                    </span>
                    <span class="global-text black">
                        {{ addressLine2 }}
                    </span>
                </div>
                <div class="one">
                    <span class="global-text">
                        Postal code:
                    </span>
                    <span class="global-text black">
                        {{ postalCode }}
                    </span>
                </div>
            </div>
            <div class="buttons" *ngIf="!loading">
                <button (click)="cancel()" class="button">
                    Cancel
                </button>
                <button (click)="save()" class="button orange-button">
                    Save
                </button>
            </div>

            <div *ngIf="loading" class="global-loading height-124">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>