.app {
    .box {
        width: 524px;
        height: auto;
        padding: 12px;
        background-color: var(--default-background);
        border-radius: var(--default-border-radius);

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                display: flex;
                align-items: center;
            }
        }
    }
}