.app {
    .content {
        .list {
            .location {

                &:not(:first-of-type) {
                    margin-top: 24px;
                }

                .top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .name {

                    }
                }
                .tables {
                    padding-top: 12px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px;

                    .add {
                        min-height: 150px;
                        width: 124px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        button {
                            background: none;
                            width: 32px;
                            height: 32px;

                            mat-icon {
                                color: var(--gray-dark);
                                width: 32px;
                                height: 32px;
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 736px) {

    .app {
        .content {
            .list {
                .location {
                    .tables {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 550px) {
    .app {
        .content {
            .list {
                .location {
                    .tables {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
}
