.app {
    .box {
        width: 512px;

        .locations {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;


            .location {
                border: 2px solid var(--default-border-color);
                border-radius: var(--default-border-radius);
                padding: 12px;
                text-decoration: none;
                transition: 0.2s all;

                .name {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    mat-icon {
                        font-size: 20px;
                        width: 20px;
                        height: 20px;
                        color: var(--text-color-gray)
                    }
                }

                &:hover {
                    box-shadow: var(--default-box-shadow);
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .app {
        .box, .header {
            width: 98%;
        }
        .box {
            padding: 12px;

            .locations {
                gap: 12px;

                .location {
                    padding: 6px;

                    .global-text {
                        font-size: 14px;
                    }
                    .global-text.big {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}