.app {    
    .sub-header {
        display: flex;
        align-items: center;
    }

    .form {
        .email {
            margin-top: 24px;
        }

        .name {
            display: flex;
            margin-top: 24px;
            gap: 24px;

            input {
                width: 100%;
            }
        }

        .password {
            .label {
                margin-top: 24px;
                margin-bottom: 4px;
            }
        }

        .submit {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 24px;

            button {
                width: 100%;
                height: 42px;
            }
        }
    }
}