<div class="app">
    <div class="header">
        <div class="title">
            <a class="icon-button" type="button" routerLink="..">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <span class="global-subtitle">
                Your order
            </span>
        </div>
    </div>
    <div class="info" [class.red]="errors.type" *ngIf="info">
        <div class="left">
            <div class="buttons">
                <button (click)="selectType('takeout')" class="button" [class.orange-button]="info.type == 'takeout'">
                    <mat-icon>takeout_dining</mat-icon>
                    Take out
                </button>
                <button (click)="selectType('dinein')" class="button" [class.orange-button]="info.type == 'dinein'">
                    <mat-icon>restaurant</mat-icon>
                    Dine-in
                </button>
            </div>
        </div>
        <div class="right">
            <div *ngIf="info.type == 'dinein'" class="table">
                <div class="title">
                    <span *ngIf="info.id" class="global-text text bigger black bold">
                        Table
                    </span>
                    <span *ngIf="!info.id" class="global-text text bigger black bold">
                        Select table
                    </span>
                    <span *ngIf="info.id" class="global-text">
                        #{{ info.id }}
                    </span>
                </div>
                <div class="buttons">
                    <button class="button orange-button">
                        <span *ngIf="info.id">Change</span> <span *ngIf="!info.id">Scan</span> <mat-icon>qr_code</mat-icon>
                    </button>
                </div>
            </div>
            <div *ngIf="info.type == 'takeout'" class="takeout">
                <div class="title">
                    <span class="global-text bigger black bold">
                        Takeout
                    </span>
                    <span *ngIf="info.id" class="global-text">
                        #{{ info.id }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="comment" *ngIf="info">
        <div class="left">
            <button (click)="setComment()" class="button orange-button">
                <span *ngIf="info.comment">Change comment</span>
                <span *ngIf="!info.comment">Add comment</span>
            </button>
        </div>
        <div class="right">
            <div class="text" *ngIf="info.comment">
                <span class="global-text">
                    {{ info.comment }}
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="dishes && dishes.length > 0" class="dishes">
        <div class="dish" *ngFor="let dish of dishes">
            <a class="left" routerLink="../{{ dish.dishId }}">
                <div class="image">
                    <img [src]="dish.image" alt="">
                </div>
                <div class="name-price">
                    <div class="name">
                        <span class="global-text big bold black">
                            {{ dish.name }}
                        </span>
                    </div>
                    <div class="price">
                        <span class="global-text">
                            ${{ dish.price / 100 }}
                        </span>
                        <div *ngIf="dish.comment" class="dish-comment global-text">
                            <span class="dot">
                                &#9679;
                            </span>
                            comment
                        </div>
                    </div>
                </div>
            </a>
            <div class="right">
                <button class="button-icon" (click)="dishMore($event, dish)">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="dishes && dishes.length == 0" [class.red]="errors.dishes" class="no-dishes">
        <span class="global-text big black bold">
            Add dishes to your order
        </span>
    </div>
    <div class="subtotal" *ngIf="subtotal || subtotal === 0">
        <div class="text">
            <span class="global-text">
                Taxes calculated at checkout
            </span>
        </div>
        <div class="checkout">
            <span class="global-text big black bold">
                ${{ subtotal / 100 }}
            </span>
            <button (click)="checkout()" id="checkout" class="orange-button button">
                Checkout 
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="!info" class="global-loading height-124">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<ng-container #modalContainer></ng-container>