.app {
    

    .content {
        background-color: var(--default-on-background);
        min-height: 250px;
        padding: 24px;
        width: 100%;
        overflow-x: auto;

        .list {
            display: flex;
            gap: 18px;
            width: 100%;
            margin: 12px 0;
            border-radius: var(--default-border-radius);
        }

        .no-dishes {
            display: flex;
            align-items: center;
        }
    }
}